body {
    margin: 0;
    padding: 0;
    background: #f7f7f7;
}

.alert {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    bottom: 60%;
    transform: translate(-50%, -50%);
}

.alert div {
    width: 400px;
    height: 50px;
    overflow: hidden;
    margin: 7px 0;
    color: #f7f7f7;
    border-radius: 50px;
}

.alert span {
    float: left;
    width: 50px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    line-height: 50px;
}

.alert p {
    float: left;
    margin: 0 15px;
    padding: 0 6px;
    font-size: 20px;
    font-weight: 600px;
    line-height: 50px;
}

.none {
    display: none;
}

.alert-1 {
    background: #0fb9b1;
}

.alert-1 span {
    background: #2bcbba;
}

.alert-2 {
    background: #20bf6b;
}

.alert-2 span {
    background: #26de81;
}

.alert-3 {
    background: #f7b731;
}

.alert-3 span {
    background: #fed330;
}

.alert-4 {
    background: #ff3838;
}

.alert-4 span {
    background: #ff4d4d;
}