
/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

/* Banner */

	#banner {
		padding: 8em 2em 8em;
	}

/* Wrapper */

	.wrapper {
		padding: 4em 0em 2em;
	}

		.wrapper.style2 footer {
			width: 85%;
		}

/* Footer */

	#footer {
		padding: 4em 0em 2em;
	}

		#footer .copyright li {
			border-left: 0;
			margin-left: 0;
			padding-left: 0;
			display: block;
		}